PORT=3010
# mongo db
MONGO_CONNECTION_STRING=

# for environment on which our software is running (development / production)
NODE_ENV=development

# secret to generation access token
JWT_SECRET=mysecret

# cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
